<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SOSExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SOSKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>050861171A358D4F00B7BAC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0508612F1A358D4F00B7BAC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0538A5431A3A101F0093FEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0538A54D1A3A101F0093FEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0538A55F1A3A10CF0093FEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0538A5691A3A10CF0093FEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0538A5841A3A11EB0093FEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0538A58E1A3A11EB0093FEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05394EC71A39EDFB0016F281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05394EDC1A39F11F0016F281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>059E0FA91A3932CE009BE9EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C1190F1A37EA5E00A921F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C119251A37EC4D00A921F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
